
*{
    padding : 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1, h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5em;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}

/* NAV BAR */
nav{
    background-color: #e3beaa;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5%;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.6);
}

nav .logo img{
    max-width: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* background: #000; */
    width: 40%;
}

nav ul li a{
    text-decoration: none;
    color: #8C5444;
    font-size: 1.1em;
    outline: none;
    height: 100%;
    display: block;
    line-height: 52px;
    min-width: 70px;
    text-align: center;
    /* background-color: burlywood; */
}

nav ul li a:hover{
    border-bottom: solid 2px #8C5444;
    background-color: rgba(255, 255, 255, 0.4);
}



/* DROPDOWN */
nav ul .dropbar {
    z-index: -1;
    background-color: #E3BEAA;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 200px;
    justify-content: space-around;
    top: 54px;
    opacity: 0;
    transition: .4s;
    transform: translateY(-100%);
}

nav ul li:nth-child(3):hover .dropbar {
    transform: translateY(0);
    opacity: 1;
}

nav ul .dropbar :hover {
    border: none;
    color: white;
    background-color: #E3BEAA;
}

/* FOOTER */
.footer{
    background-color: #111111;
    color: #ffffff;
    height: 150px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.footer .street {
    display: flex;
    flex-direction: column;
}

.footer h3{
    font-size: 1.5em;
    font-style: italic;
}

.footer .connect ul{
    display: flex;
    gap: 10px;
}

.footer .connect ul li{
    list-style: none;
}

.footer .connect ul li img{
    max-width: 30px;
    border-radius: 50%;
    transition: ease-out .2s;
    padding: 10px;
}

.footer .connect ul li:hover img{
    background-color: rgb(255, 62, 62);
    transform: rotateY(180deg);
}

.footer p{
    opacity: 0.8;
    color: rgb(155, 155, 155);
    font-style: italic;
}

/* JS */

/* NAVBAR  */
nav.sticky{
    background-color: gainsboro;
    transition: ease-in 0.2s;
}

/* SCROLL TO TOP */
.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #8C5444;
    color: white;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 160px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
  
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

